@import "./variables.scss";
.app {
	&__body {
		position: relative;
		flex: 0 0 80%;
		height: 100%;
		width: 100%;
		overflow-y: auto;
		background: $body-bg;
		padding: $body-padding;
		text-align: center;
		&_new-todo {
			position: relative;
			background: $primary-green;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			padding: 10px 22px 10px 54px;
			margin-top: 20px;
			border-radius: 11px;
			color: #fff;
			transition: 0.2s linear all;
			&::after {
				content: "";
				position: absolute;
				left: 23px;
				top: 50%;
				transform: translateY(-50%);
				width: 25px;
				height: 25px;
				background: center / cover no-repeat url("./../assets/plus.svg");
			}
			&:hover {
				transform: scale(1.2);
				background: darken($primary-green, 10%);
			}
		}
	}
	&__todo-wrapper {
		width: 100%;
		height: auto;
	}
}
