@import "./variables.scss";
.app {
	&__body {
		position: relative;
		flex: 0 0 80%;
		height: 100%;
		width: 100%;
		overflow-y: auto;
		background: $body-bg;
		padding: $body-padding;
		text-align: center;
		&_new-todo {
			background: $primary-green;
			padding: 10px 50px;
			margin-top: 20px;
			border-radius: 20px;
			color: #fff;
			transition: 0.2s linear all;
			&:hover {
				transform: scale(1.2);
				background: darken($primary-green, 10%);
			}
		}
	}
	&__todo-wrapper {
		width: 100%;
		height: auto;
	}
}
