//variables
$primary-green: #88eaa9;
$violet: #889dea;
$body-bg: rgb(255, 255, 255);
$body-padding: calc((3vw + 3vh) / 2) 7% 3% 7%;

$header-color: rgb(255, 255, 255);
$header-padding: 1vh 1vh 3vh 1vw;
$header-font-size: 150%;

//stats
$stats-item: 20vw;
$stats-title-font-size: 10;
$stats-font-size: calc((3vw + 9vh) / 2);
$stats-padding: calc((1vw + 1vh) / 2);
//======================

//fonts
$font-success: #bbbbbb;
$font-family: "Conv_Poppins-Regular";

@font-face {
	font-family: "Conv_Poppins-Regular";
	src: url("./../assets/fonts/Poppins-Regular.eot");
	src: local("☺"), url("./../assets/fonts/Poppins-Regular.woff") format("woff"),
		url("./../assets/fonts/Poppins-Regular.ttf") format("truetype"),
		url("./../assets/fonts/Poppins-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
//====================================
